@import url('https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Lato', sans-serif;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Space Mono', monospace;
}
